.env
.env.*
backend.env
frontend.env
foodrescue-be/.env
foodrescue-fe/.env.local
!.env.example
!.env*.example
!*.env.example
!*.env*.example

.deploy.env

node_modules
.next
target
build
dist

.idea
.DS_Store
*.log
