APP_NAME=foodrescue-be
PORT=8080
SPRING_PROFILES_ACTIVE=prod

# This EC2 currently has no Elastic IP attached.
# If the instance is stopped and started again, update the IP-based values below.

DB_URL=jdbc:mysql://mysql:3306/foodrescue?createDatabaseIfNotExist=true&useUnicode=true&characterEncoding=utf8&serverTimezone=UTC
DB_USERNAME=foodrescue
DB_PASSWORD=CHANGE_ME_APP_DB_PASSWORD

MYSQL_DATABASE=foodrescue
MYSQL_USER=foodrescue
MYSQL_PASSWORD=CHANGE_ME_APP_DB_PASSWORD
MYSQL_ROOT_PASSWORD=CHANGE_ME_ROOT_PASSWORD

HIBERNATE_DDL_AUTO=validate
SHOW_SQL=false

JWT_SECRET=CHANGE_ME_LONG_RANDOM_SECRET
JWT_EXPIRATION_MS=86400000
JWT_REFRESH_EXPIRATION_MS=604800000

MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=your-email@gmail.com
MAIL_PASSWORD=your-app-password
MAIL_FROM=your-email@gmail.com

VERIFICATION_BASE_URL=http://13.250.95.15/verify-email
RESET_PASSWORD_BASE_URL=http://13.250.95.15/reset-password
APP_CORS_ALLOWED_ORIGINS=http://13.250.95.15,http://localhost:3000,http://127.0.0.1:3000

GOOGLE_CLIENT_ID=488480628324-o3pn3veqjka07enl7jtludgu7hkubtof.apps.googleusercontent.com

CLOUDINARY_CLOUD_NAME=your-cloudinary-cloud-name
CLOUDINARY_API_KEY=your-cloudinary-api-key
CLOUDINARY_API_SECRET=your-cloudinary-api-secret
