NODE_ENV=production
HOSTNAME=0.0.0.0
PORT=3000

FRONTEND_API_BASE_URL=http://13.229.103.12/api
GOOGLE_CLIENT_ID=488480628324-o3pn3veqjka07enl7jtludgu7hkubtof.apps.googleusercontent.com

# Optional fallbacks for local builds if you ever build the frontend outside the container runtime.
NEXT_PUBLIC_API_BASE_URL=http://13.229.103.12/api
NEXT_PUBLIC_GOOGLE_CLIENT_ID=488480628324-o3pn3veqjka07enl7jtludgu7hkubtof.apps.googleusercontent.com
